<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Reservaciones</title>
</head>
<body>
    
    <div>
        <h1>Buscador de reservaciones</h1>
        <h2>Marque abordar cuando la informacion coincida</h2>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <!--<td>ID</td>-->
                    <td>Nombre</td>
                    <td>Correo</td>
                    <td>Aerolinea Destino</td>
                    <td>Estado Abordaje</td>
                    <td>Abordar</td>
                </tr>
            </thead>
            <tbody>
                <form action="/actualizar_abordar" method="POST">
                {% for r in reservacion %}
                <tr>
                    <td>{{ r.1 }}</td>
                    <td>{{ r.2 }}</td>
                    <td>{{ r.3 }}</td>
                    <td>{{ r.4 }}</td>
                    <td><input type="text" name="idreservacion" value ="{{ r.0 }}" hidden></td>
                    {% if r.4 == 'NO'%}
                    <td><a href="/mod_abordar/{{ r.0 }}">Abordar pasajero</a></td>
                    </form>
                    {% endif %}
                </tr>
                {% endfor %}
            </form>
            </tbody>

        </table>
        <h3><a href="/buscar_reservacion">Volver atras</a></h3>
    </div>
    
</body>