<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Destino</td>
                    <td>Fecha</td>
                    <td>Aerolinea Destino</td>
                    <td>Accion</td>
                </tr>
            </thead>
            <tbody>
                {% for v in vuelos %}
                    <tr>
                        <td>{{ v.1 }}</td>
                        <td>{{ v.2 }}</td>
                        <td>{{ v.3 }}</td>
                        <td><a href="/eliminar_vuelo/{{ v.0 }}">Eliminar</a></td>
                        <td><a href="/mod_vuelo/{{ v.0 }}">Modificar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
